# Environnements virtuels
.venv/
venv/
# Logs
logs/*.log
# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Outils
.mypy_cache/
.pytest_cache/

# IDE
.idea/
.vscode/

# Système
.DS_Store
Thumbs.db
# Secrets
.env

# Fichiers de test/data générés
.coverage
backup.sql